footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 20px 0;
    font-weight: 500;
    color: #ffff;
}

footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

footer .copyright .developer a {
    text-decoration: none;
    color: var(--color-blue);
}
footer .copyright .developer a:hover {
    color: var(--color-light-blue);
}

footer .social_media {
    display: flex;
    flex-direction: row;
    align-items: self-end;
}

footer .social_media img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
    }
    footer .copyright {
        align-items: center;
    }
    footer .social_media {
        align-items: center;
        margin-bottom: 10px;
    }    
}